<%- include('header.ejs')%>
    <div class="container-fluid about">
        <div class="container">
           <div class="row">
                <center> <h1 style="font-weight: bold;">About</h1> </center>
                <p style="margin-bottom: 50px;">a statement that tells you how something or someone looks, sounds, etc. : words that describe something or someone. [count] Reporters called the scene “a disaster area,” and I think that was an accurate description. I applied for the position after reading the job description. an act of describing. specifically : discourse intended to give a mental image of something experienced. beautiful beyond description. gave an accurate description of what he saw. : a statement or account giving the characteristics of someone or something : a descriptive statement or account.a statement that tells you how something or someone looks, sounds, etc. : words that describe something or someone. [count] Reporters called the scene “a disaster area,” and I think that was an accurate description. I applied for the position after reading the job description. an act of describing. specifically : discourse intended to give a mental image of something experienced. beautiful beyond description. gave an accurate description of what he saw. : a statement or account giving the characteristics of someone or something : a descriptive statement or account.a statement that tells you how something or someone looks, sounds, etc. : words that describe something or someone. [count] Reporters called the scene “a disaster area,” and I think that was an accurate description. I applied for the position after reading the job description. an act of describing. specifically : discourse intended to give a mental image of something experienced. beautiful beyond description. gave an accurate description of what he saw. : a statement or account giving the characteristics of someone or something : a descriptive statement or account.</p>
           </div>
        </div>
    </div>
      
<%- include('footer.ejs')%>